<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assessment03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Q1retrieveController</display-name>
    <servlet-name>Q1retrieveController</servlet-name>
    <servlet-class>com.dxc.assessment.controller.Q1retrieveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q1retrieveController</servlet-name>
    <url-pattern>/Q1retrieveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q2retrieveController</display-name>
    <servlet-name>Q2retrieveController</servlet-name>
    <servlet-class>com.dxc.assessment.controller.Q2retrieveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q2retrieveController</servlet-name>
    <url-pattern>/Q2retrieveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Q3retrieveController</display-name>
    <servlet-name>Q3retrieveController</servlet-name>
    <servlet-class>com.dxc.assessment.controller.Q3retrieveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Q3retrieveController</servlet-name>
    <url-pattern>/Q3retrieveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>result</display-name>
    <servlet-name>result</servlet-name>
    <servlet-class>com.dxc.assessment.controller.result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>result</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
</web-app>